@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.title {
  color: #24FF00;
  font-size: 15px;
  font-family: "Kanit"; 
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #fff;
  font-weight: 1000;
  font-style: normal;

}

.main {
  background: #000000;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Kanit", sans-serif;
  font-style: normal;
  min-height: 100vh;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 30px;
}

.navbar {
  display: flex;
  gap: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #fff;
  line-height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;


}
.navbar > div {
  font-size: 15px;
  font-family: "Kanit", bold;
}

.row{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.GameTitleC {
  z-index: 999;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-align: justified;
  position: absolute;
  top: 600px;
  left: 500px;
  font-family: "Kanit", italic;
  opacity: 0.7;
  padding-left: 10px;

}

.GameTitle {
  padding-top: 50px;
  z-index: 999;
  font-size: 30px;
  font-weight: 700;
  line-height: 60px;
  text-align: justified;
  position: absolute;
  top: 600px;
  left: 500px;
  font-family: "Kanit", sans-serif;
  opacity: 0.7;
  padding-left: 10px;

}
.Hero {
  position: relative;
}

.HeroImage {
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 10px;
  padding-bottom:30px;
  scale: 95%; 
  width:100%;
}

button {
  color:  #FA00FF;
  background: #000;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: 'Kanit';
  line-height: 30px;
  font-size: 15px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 50px;
  paragraph-spacing: 30px;
  text-align: left;      
}


.empty_space {
 height: 100px;
} 

.footer {
  border-top: 1px solid #fff;
  background: black;
  color:white;
  font-size: 10px;  
  padding-bottom: 50px;
  padding-top: 25px;  
  text-align: left; 
}


.loading {
  color: #fff;
}


.conclusion-title {
  color:  #ffffff;
  outline: none; 
  font-weight: 1000;
  font-style: normal;
  border: none;
  font-family: 'Kanit';
  line-height: 30px;
  font-size: 15px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 50px;
  paragraph-spacing: 30px;
  
}





.conclusion-content{
  color:  #ffffff;
  outline: none;
  border: none;
  font-family: 'Kanit';
  line-height: 30px;
  font-size: 15px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 50px;
  paragraph-spacing: 30px;
  text-align: justify;      
}


.conclusion-reflection {
  color:  #ffffff;
  outline: none;
  border: none;
  font-family: 'Kanit';
  line-height: 30px;
  font-size: 15px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 50px;
  spacing: 30px;
  text-align: justify;      
}


.fetchingc {
  color:  #ffffff;
  outline: none;
  border: none;
  font-family: 'Kanit';
  line-height: 30px;
  font-size: 15px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 50px;
  paragraph-spacing: 30px;
  text-align: justify;      
}



.conclusion-message{
  color:  #FA00FF;
  background: #000;
  outline: none;
  border: none;
  font-family: 'Kanit';
  line-height: 30px;
  font-size: 15px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 50px;
  paragraph-spacing: 30px;
  text-align: justify;      
}

/* Dream Game */


/* 
font-family: 'Kanit';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;

color: #24FF00;
*/
/* color: #FA00FF; */


/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */